<div class="country-container" [routerLink]="['/', ROUTER_TOKENS.DETAILS, country.cca2]"
    (keydown.enter)="navigateToDetails()" tabindex="0" [attr.aria-label]="'View details for ' + country.name.official ">
    <div class="flag">
        <img [src]="country.flags.svg" alt="Country Flag For {{country.name.official}}" aria-hidden="true">
    </div>
    <p class="name" [attr.aria-label]="'Country name: ' + country.name.official">{{country.name.official}}</p>
    <p class="info" [attr.aria-label]="'Population: ' + (country.population | number)">Population: {{country.population
        | number}}</p>
    <p class="info" [attr.aria-label]="'Region: ' + country.region">Region: {{country.region}}</p>
    <p class="info" [attr.aria-label]="'Capital: ' + country.capital">Capital: {{country.capital}}</p>
</div>