.details {
    background-color: white;
    padding: 80px;
}

.back {
    background-color: white;
    border: 1px solid hsl(0, 0%, 52%);
    width: 136px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 10px hsl(0, 0%, 52%);
}

.back img {
    width: 20px;
    height: 20px;
    padding: 0px 10px 0px 20px;
}

.back p {
    font-size: 16px;
}


.flag {
    margin-top: 100px;
    display: flex;
}

.flag img {
    width: 560px;
    height: 401px;
}

.info {
    margin-left: 100px;
}

.name {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 800;
}

.domain-info {
    margin: 79px 0px 0px 80px;
}

.border-info {
    margin-top: 100px;
}

.border-country {
    width: 98px;
    height: 28px;
    border: 1px solid hsl(0, 0%, 52%);
    box-shadow: 4px 4px 10px hsl(0, 0%, 52%);
    margin-right: 10px;
    margin-bottom: 10px;
}

.border-country span {
    font-size: 18px;
    margin-left: 30px;
}

.border-countries {
    display: flex;
    flex-wrap: wrap;
}