<app-header></app-header>
<div class="details">
    <button class="back" [routerLink]="['/', ROUTER_TOKENS.HOME]">
        <img src="backward-solid.svg" alt="Back Image">
        <p>Back</p>
    </button>

    <div class="flags-info" *ngIf="country$ | async as country" >
        <div class="flag">
            <img [src]="country.flags.svg" [alt]="country.name.common + ' flag'">
            <div class="info">
                <p class="name">{{country.name.common}}</p>
                <p>Native name: {{country.name.official}}</p>
                <p>Population: {{country.population | number}}</p>
                <p>Region: {{country.region}}</p>
                <p>Sub Region: {{country.subregion || 'Unknown'}}</p>
                <p>Capital: {{country.capital}}</p>
            </div>
        </div>

       
    </div>

</div>