@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body.dark-mode {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);

}

body.dark-mode .header {
  border-bottom: none;
}

body.dark-mode p {
  color: hsl(0, 0%, 100%);
}

body.dark-mode .mode {
  background-color: hsl(209, 23%, 22%);
}

body.dark-mode .mode img {
  filter: invert(1);
}

body.dark-mode .results {
  background-color: hsl(207, 26%, 17%);
}

body.dark-mode .search {
  color: hsl(0, 0%, 100%);
}

body.dark-mode .search input {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: none;
}

body.dark-mode .search img {
  filter: invert(1);
}

body.dark-mode .search input::placeholder {
  color: hsl(0, 0%, 100%);
}

body.dark-mode .filter-select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: none;
}

body.dark-mode .country-container {
  background-color: hsl(209, 23%, 22%);
}

body.dark-mode .details {
  background-color: hsl(207, 26%, 17%);
}

body.dark-mode .back {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 4px 4px 10px hsl(209, 23%, 22%);
  border: 1px solid hsl(207, 26%, 17%);
}

body.dark-mode .back img {
  filter: invert(1);
}

body.dark-mode .border-country {
  border: 1px solid hsl(207, 26%, 17%);
  box-shadow: 4px 4px 10px hsl(209, 23%, 22%);
}