@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  /* colours */
  --white: hsl(0, 0%, 100%);
  --background-light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
  --background-dark-blue: hsl(207, 26%, 17%);
  --background-dark-mode: hsl(209, 23%, 22%);
  --header-border: hsl(0, 0%, 86%);
  /* font sizes */
  --very-small: 14px;
  --small: 16px;
  --medium: 18px;
  --large: 24px;
  --very-large: 32px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body.dark-mode {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  background-color: var(--background-dark-mode);
  color: var(--white);

}

body.dark-mode .header {
  border-bottom: none;
}

body.dark-mode p {
  color: var(--white);
}

body.dark-mode .mode {
  background-color: var(--background-dark-mode);
}

body.dark-mode .mode img {
  filter: invert(1);
}

body.dark-mode .results {
  background-color: var(--background-dark-blue);
}

body.dark-mode .search {
  color: var(--white);
  ;
}

body.dark-mode .search input {
  background-color: var(--background-dark-mode);
  color: var(--white);
  border: none;
}

body.dark-mode .search img {
  filter: invert(1);
}

body.dark-mode .search input::placeholder {
  color: var(--white);
}

body.dark-mode .filter-select {
  background-color: var(--background-dark-mode);
  color: var(--white);
  border: none;
}

body.dark-mode .country-container {
  background-color: var(--background-dark-mode);
}

body.dark-mode .details {
  background-color: var(--background-dark-blue);
}

body.dark-mode .back {
  background-color: var(--background-dark-mode);
  box-shadow: 4px 4px 10px var(--background-dark-mode);
  border: 1px solid var(--background-dark-blue);
}

body.dark-mode .back img {
  filter: invert(1);
}

body.dark-mode .border-country {
  border: 1px solid var(--background-dark-blue);
  box-shadow: 4px 4px 10px var(--background-dark-mode);
}