.container {
    display: flex;
    flex-direction: column;
}

.results {
    background-color: var(--background-light-gray);
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    position: relative;
}

.search input {
    width: 480px;
    height: 56px;
    padding-left: 45px;
    font-size: var(--very-small);
    border: 1px solid white;
    color: black;
}

.search input::placeholder {
    color: black;
}

.search img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    pointer-events: none;
    /* Prevent the icon from blocking input clicks */
    padding-top: 20px;
}

.filter {
    font-size: var(--very-small);
}

.filter:hover {
    cursor: pointer;
}

.filter-select {
    background-color: white;
    width: 200px;
    height: 56px;
    /* White background for the select box */
    font-size: var(--very-small);
    /* Increase font size */
    padding: 0.5rem;
    /* Add padding for better spacing */
    border: 1px solid #ccc;
    /* Optional: Add a border */
    border-radius: 4px;
    /* Optional: Rounded corners */
    color: black;
    cursor: pointer;
    text-align: center;
}

.filter-select option {
    background-color: white;
    /* White background for options */
    color: #333;
    /* Text color for options */
    font-size: var(--very-small);
    /* Match font size with select */
}

.countries {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}